<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task List</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to t('devise.registrations.new.sign_up'), destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %></li>
        <li><%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
