.panel-title {
  > a {
    &.collapsed:before { content: "\e114"; }
    &:before {
      font-family: 'Glyphicons Halflings';
      content: "\e113";
      padding-right: 5px;
    }
    &:hover, &:active, &:focus { text-decoration: none; }
  }
}

.list-scope a.btn {
  &.active {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    &:hover { background-color: #2e6da4; }
  }
}

.favorite-list i.glyphicon {
    &.glyphicon-star,
    &.glyphicon-star-empty { font-size: 20px; }
}
